.shake-animation {
  animation: shake 0.2s;

  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% { transform: translate(3px, 0px) rotate(0deg); }

  50% { transform: translate(-3px, 0px) rotate(0deg); }

  100% { transform: translate(3px, 0px) rotate(0deg); }
}